<div class="content-subhead">
  <h1>Arrangements</h1>
</div>

<div>
  <p class="arrangement-text">
    Here's a list of the arrangments and transcriptions we've done for ourselves along with downloadable PDFs and MIDI files.  If you're interested in singing any of these arrangements, go ahead! Please <a href="/contact">let us know</a> if you do.  We'd love to hear where our music is being sung.
  </p>
</div>

{{#each arrangements}}
<div class="arrangement-details pure-g">
    <div class="arrangment-text pure-u-1 pure-u-md-1-2">
      <h2><a href="/pdf/{{filename}}">{{title}}</a></h2>
      <p>
      Arranger: {{arranger}}<br/>

      Date: {{dateStr}}
      </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <a href="/pdf/{{filename}}"><img class="arrangement-img pure-img-responsive" src="/pdf/{{thumbnail}}" alt={{title}}></a>
    </div>
</div>
{{/each}}